:root {
    --blue-d: #0f0d14;
    --white: #ffffff;
    --gray-l: rgb(105, 103, 103);
    --gray-d: rgb(59, 59, 59);
  }

.background-img {
    background-color: rgb(16, 114, 117);
}

/* sweet alerts */
.swal-footer {
    background-color: rgb(245, 248, 250);
    margin-top: 32px;
    border-top: 1px solid #E9EEF1;
    overflow: hidden;
}

/* home pg */
.home-title {
    color: #fff;
}

/* messaging */
.messaging-title {
    color: white;
}
.messaging-container {
    color: #fff;
}